[credential]
	helper = git-credential-libsecret
[user]
	name = Norbert Hajagos
	email = hajagosnorbi@gmail.com
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIH1uV0xtQuJJ/Lm+Zzyd3UW8vXGC35OsRogeHZy38ax hajagosnorbi@gmail.com
[alias]
	l = "!. ~/.githelpers.sh && pretty_git_log"
	; la = "!git l --all"
	; lr = "!git l -30"
	; lra = "!git lr --all"
	; lg = "!git l -G $1 -- $2"
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[init]
	defaultBranch = main
[mergetool "nvim"]
	cmd = nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[merge]
	tool = nvimdiff2
	conflictstyle = zdiff3
[rerere]
	enabled = true
	autoupdate = true
[gpg]
	format = ssh
[commit]
	gpgSign = true
	verbose = true
[tag]
	gpgSign = true
	sort = version:refname
[gpg "ssh"]
	allowedSignersFile = /home/ez/.config/git/allowed_signers
[column]
	ui = auto
[branch]
	sort = -committerdate
[push]
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[rebase]
	updateRefs = true
	autoSquash = true
