[credential]
	helper = git-credential-libsecret
[user]
	name = Norbert Hajagos
	email = hajagosnorbi@gmail.com
	signingkey = 807F4444870DB673
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[init]
	defaultBranch = main
[mergetool "nvim"]
	cmd = nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[merge]
	tool = nvimdiff2
[rerere]
	enabled = true
