[credential]
	helper = git-credential-libsecret
[user]
	name = Norbert Hajagos
	email = hajagosnorbi@gmail.com
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIH1uV0xtQuJJ/Lm+Zzyd3UW8vXGC35OsRogeHZy38ax hajagosnorbi@gmail.com
[alias]
	l = "!. ~/.githelpers.sh && pretty_git_log"
	; la = "!git l --all"
	; lr = "!git l -30"
	; lra = "!git lr --all"
	; lg = "!git l -G $1 -- $2"
[difftool]
	prompt = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[init]
	defaultBranch = main
[mergetool "nvim"]
	cmd = nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[merge]
	tool = nvimdiff2
[rerere]
	enabled = true
[gpg]
	format = ssh
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[gpg "ssh"]
	allowedSignersFile = /home/ez/.config/git/allowed_signers
